button {
    margin-top: 10px;
    width: 130px;
    height: 45px;
    font-size: 18px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 20px;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

button:hover {
    background-color: #757575;
    color: #f5f5f5;
}
  

h1{
    font-size: 90px;
}

  
body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
    width: 95%;
    margin: auto;
    max-width: 1024px;
}
  
#header{
    background-color: #e8d5b7;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
    align-items: center;
    padding: 50px;
    
}

#header h1, h2{
    color: #212121;
}

#header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#header h2 {
    
    font-size: 2em;
}

#header button{
   
   
    margin-right: 5px;
    margin-left: 5px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#header a {
    margin-top: 40px;
    text-decoration: none;
    
    display: inline-block;
}

#contact-c-form
{
    color: white;
    background-color: #0e2431;
}

#contact-c-form h2{
    color: white;
    margin: 0px;
    padding: 20px;
    background-color: #0e2431;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

#hourly-rate, 
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
}

@media screen and (max-width: 650px) {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea  {
      max-width: 70%;
    }

    #header h2{
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 0;
    }

    #header h1{
        font-size: 50px;
        margin-bottom: 10px;
    }
  }

  

#radioInput{
    display: inline-block;
    margin: 15px 0px;
}

#radioInput label{
    margin-right: 15px;
}
  
#hourly-rate{

    width: auto;
    height: auto;
}

  

  
  
.spin-image {
    /* transition: transform 3s ease-in-out, 
                width 3s ease-in-out;  */
    max-width: 100%; 
    height: 90%;
    border-radius: 20px;
    
}


  
.honestyContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    background-color: #f2f2f2;
    padding: 0px 20px;
    padding-bottom: 30px;
    border: 1px solid #ddd;
    text-align: left;
}

#honestyStatement,
#aboutMe{
    margin-top: 30px;
    vertical-align: top; /* Align the content to the top */
    width: 45%;
    
}

@media screen and (max-width: 650px) {
    #honestyStatement,
    #aboutMe {
      width: 100%;
    }

     .cardText h3{
    margin-top: 10px !important;
    font-size: 20px !important; 
    margin-bottom: 20px;
    }
  
    .cardText p{
        margin-bottom: 0;
        font-size: smaller;
    }

    .cardText .p1{
    padding-bottom: 5px;
    font-size: 15px !important;
    padding-bottom: 0px !important;

    }

    .cardText .p2{
    bottom: 0em !important;
    font-size: 15px;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    }


  .cardText{
    padding-left: 10px !important;
    padding-bottom: 10px;
   
  }

  .card{
    height: 70%;
  }
}


#honestyStatement .p2,
#aboutMe .p2{
    
    font-weight: bold;
}



#info th{
   padding-right: 0.7rem;
}

#info td, th{
    padding-bottom: 0.5rem;
    vertical-align: top;
    
}

#honestyStatement{
    position: relative;
    padding-bottom: 30px;
}
  
table{
    border-spacing: unset;
}

date{
   position: absolute;
   bottom: 0;
}



.card-container {
    padding: 40px 0px;
    grid-gap: 20px;
    
  }
  
  .card-image {
    width: 30%;
    height: 100%;
    flex-grow: 1;
    height: auto;
    max-width: 35%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .card {
    background-color: white;
    max-width: 95%;
    position: relative;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    margin-left: 2.5%;
    
  }

  .cardText{
    text-align: left;
    padding-left: 1.5em;
    padding-bottom: 40px;
    align-items: flex-start;
  }

  .cardText h3{
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 3px;
  }
  
.cardText .p1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    font-size: larger;
    margin: 0;
}

.cardText .p2{
    position: absolute;
    bottom: 0;
    padding: 0;
}

#Education{
    padding-top: 40px;
    background-color: #f5b553;
    text-align: left;
}


#Education p4{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 3%;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}


.card:hover {
    transform: scale(0.97);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}